@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

@font-face {
    font-family: matter;
    src: url(/Matter-Regular.woff);
}

div {
    font-family: matter;
}